{% extends "master.html" %}

{% block title %}
Details about {{ usuarios.Usuario }}{{ usuarios.Orden}}
{% endblock %}

{%bock content %}
  <h1>{{ usuarios.Usuario }} {{ usuarios.Orden }}</h1>
  
  <p>Phone: {{ usuarios.phone }}</p>
  <p>Firstname: {{ usuarios.firstname }}</p>
  <p>Cantidad:{{ usuarios.Cantidad}}</p>
  <p>IBAN:{{ usuarios.IBAN}}</p>
  <p>Beneficiario: {{ usuarios.Beneficiario}}</p>
  <p>Concepto:{{ usuarios.concepto}}</p>
  <p>Bank:{{ usuarios.Bank}}</p>
  <p>BIC:{{ usuarios.BIC}}</p>

  <p>Back to <a href="/remesas">remesas</a></p>
{% endblock %}
