{% comment "" %}{% extends "master.html" %}{% endcomment %}

<!DOCTYPE html>
<html>
<body>
<ul>
    {{id}}
</ul>
<h1>{{ myusuarios.Usuario }} {{ myusuarios.Orden }}</h1>
  
<p>Phone: {{ operacion.phone }}</p>
<p>Firstname: {{ operacion.firstname }}</p>
<p>Cantidad:{{ operacion.Cantidad}}</p>
<p>IBAN:{{ operacion.IBAN}}</p>
<p>Beneficiario: {{ operacion.Beneficiario}}</p>
<p>Concepto:{{operacion.concepto}}</p>
<p>Bank:{{operacion.Bank}}</p>
<p>BIC/SWIFT:{{ operacion.BIC_SWIFT}}</p>

</body>
</html>
